<div class="container-fluid">
  <div class="row">
    <!-- mappa -->
    <div class="col-9">
      <div class="map" [id]="mapId"></div>
    </div>
    <!-- layerlist -->
    <div class="col-3">
      <div class="row mt-3 layer-element" *ngFor="let item of palette">
        <!-- colonna nome e slider -->
        <div class="col">
          <div class="d-flex flex-column">
            <span>{{ item.name }}</span>
            <div class="input-group">
              <input
                [(ngModel)]="item.opacity"
                (change)="setOpacity(item)"
                type="range"
                id="opacity"
                name="opacity"
                min="0.1"
                max="1"
                step="0.1"
              />
            </div>
            <label class="text-center" for="opacity">Opacity</label>
          </div>
        </div>
        <!-- colonna checkbox  -->
        <div class="col">
          <div class="row">
            <div class="col">
              <div class="input-group d-flex align-items-center">
                <input
                  type="checkbox"
                  [(ngModel)]="item.editable"
                  (change)="setEditable(item)"
                />
                <label class="mb-0" for="opacity">Editable</label>
              </div>
            </div>
            <div class="col">
              <div class="input-group d-flex align-items-center">
                <input
                  type="checkbox"
                  [(ngModel)]="item.hide"
                  (change)="setHided(item)"
                />
                <label class="mb-0" for="hide">hide</label>
              </div>
            </div>
            <div class="col">
              <!-- <div class="input-group d-flex align-items-center">
                <input
                  type="checkbox"
                  [(ngModel)]="item.editable"
                  (change)="setEditable(item)"
                />
                <label class="mb-0" for="opacity">??? </label> -->
              <!-- </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div class="btn btn-info" (click)="enableDrawer()">Draw</div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">
            Choose color
          </label>
        </div>
        <select
          class="custom-select"
          id="inputGroupSelect01"
          [(ngModel)]="choosedPalette"
        >
          <option
            *ngFor="let value of palette"
            [ngValue]="value"
            [ngStyle]="{ backgroundColor: value.color }"
            >{{ value.name }}</option
          >
        </select>
      </div>
    </div>
    <div class="col-2"></div>

    <div class="col-3">
      <div
        *ngIf="!dragMode && !canToggle()"
        class="btn btn-warning"
        (click)="toggleDragMode()"
      >
        Enable Drag
      </div>
      <div *ngIf="dragMode" class="btn btn-danger" (click)="toggleDragMode()">
        Disable Drag
      </div>
    </div>
    <!-- <div class="col-2">
      <div
        *ngIf="!editMode && !canToggle()"
        class="btn btn-warning"
        (click)="toggleEditMode()"
      >
        Enable Edit
      </div>
      <div *ngIf="editMode" class="btn btn-danger" (click)="toggleEditMode()">
        Disable Edit
      </div>
    </div> -->
    <div class="col-3">
      <div
        *ngIf="!deleteMode && !canToggle()"
        class="btn btn-warning"
        (click)="toggleRemoveMode()"
      >
        Enable Delete mode
      </div>
      <div
        *ngIf="deleteMode"
        class="btn btn-danger"
        (click)="toggleRemoveMode()"
      >
        Disable Delete mode
      </div>
    </div>
  </div>
</div>
